<div class="jumbotron">

  <h1>Welcome !! to the login Page </h1>
   <div class="wrapper">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" routerLink="/conlogin">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
     Contractor Log In
    </button>
   </div> 

      <div class="wrapper">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" routerLink="/truckerlogin"> 
            <i class="fa fa-sign-in" aria-hidden="true"></i>
        Trucker Log In
        </button>
      </div> 

    <p class="account"> Don't have an account with <a routerLink="/Home">ConTrucks </a> ? <a routerLink="/signup"> Sign Up here </a></p>

</div>  