<div class="jumbotron">

<h1 class="head">    <i class="fa fa-truck" aria-hidden="true" style="text-align: center"></i>  Join ConTrucks  </h1>

  <h2> Welcome !! to the Sign Up Page </h2>

  <div class="wrapper">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" routerLink="/consignup">
         <i class="fa fa-user" aria-hidden="true"></i>
     Contractor Sign Up
    </button>
   </div> 

      <div class="wrapper">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" routerLink="/truckersignup"> 
             <i class="fa fa-user" aria-hidden="true"></i>
        Trucker Sign Up
        </button>
      </div> 


</div>    