<div class="jumbotron">
    <h2> Welcome !! to the Trucker Sign Up Page <br> <br>
    Please fill the form shown below </h2>





<div *ngIf="!name; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="loginUser($event)">

    <div class="form-container">
        <div class="row columns">
            <label for="userid">Trucker UserId    </label>
                <input style="width: 100%" type="text" formControlName="userid" class="form-control">
        
            <div class="alert" *ngIf="!rForm.controls['userid'].valid && rForm.controls['userid'].touched">UserId is required</div>
            <br>

           <label for="fname">First Name  </label>
            <input style="width: 100%" type="text" formControlName="fname" class="form-control">
            <div class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">First Name is required</div>
            <br>

            <label for="lname">last Name    </label>
            <input style="width: 100%" type="text" formControlName="lname" class="form-control">
            <div class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">Last Name is required</div>
            <br>

            <label for="age">Age   </label>
            <input style="width: 100%" type="text" formControlName="age" class="form-control">
            <div class="alert" *ngIf="!rForm.controls['age'].valid && rForm.controls['age'].touched">Age is required</div>
            <br>

            <label for="email">Email Address </label>
            <input style="width: 100%" type="text" formControlName="email" class="form-control">
            <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Email is required</div>
            <br>

             <label for="password">Set Password </label>
             <input style="width: 100%" type="password" formControlName="password" class="form-control">
             <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password is required and it should more than 5 characters..</div>
             <br>

           <label for="password"> Re Enter Password   </label>
           <input style="width: 100%" type="password" formControlName="cnfpassword" class="form-control">
           <div class="alert" *ngIf="!rForm.controls['cnfpassword'].valid && rForm.controls['cnfpassword'].touched">Should be same as above</div>
           <br>

           <label for="contact">Contact Number</label>
           <input style="width: 100%" type="text" formControlName="contact" class="form-control">
           <div class="alert" *ngIf="!rForm.controls['contact'].valid && rForm.controls['contact'].touched">Contact Number is required </div>
           <br>

            <label for="license">License Id </label>
            <input style="width: 100%" type="text" formControlName="license" class="form-control">
            <div class="alert" *ngIf="!rForm.controls['license'].valid && rForm.controls['license'].touched">License ID is required </div>
            <br>
                </div>
                <div class="wrapper">
            <input type="submit" class="button expanded" value="Log In" [disabled]="!rForm.valid">
                </div>
            <!--</div>-->
        <!--</div>-->
    </div>
    </form>
</div>

<ng-template #forminfo>
    <div class="form-container">
        <div class="row columns">
            <h1>{{userid}}</h1>
            <p>{{age}}</p>
            <p>{{fname}}</p>
            <p>{{lname}}</p>
            <p>{{contact}}</p>
            <p>{{email}}</p>
            <p>{{password}}</p>
            <p>{{license}}</p>


        </div>
    </div>
</ng-template>









     <div class="wrapper" style="text-align: center; padding-bottom: 5px;">
        <button type="submit"  class="btn btn-outline-info my-2 my-sm-0"  style="text-align: center;"
        routerLink="/login" [disabled]="!complexForm.valid" >submit</button>
      </div>
      
</div>