<div class="jumbotron">
 <div class="container">
  <h1 style="color: orangered;text-align: center;font-size:55px;font-weight: 900"> 
    Thank You !! for posting this job <br> 
    <p style="font-size: 30px; margin-top: 10px;"> Our truckers will contact you shortly</p>
  </h1>

 </div> 
     <div class="wrapper" style="text-align: center; padding-bottom: 5px;">
                    <button type="submit"  class="btn btn-outline-info my-2 my-sm-0"  style="text-align: center;"
                    routerLink="/condashboard" [disabled]="!complexForm.valid" >Back To Dashboard</button>
                </div> 

</div>